<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Published:</strong>
  <%= @article.published %>
</p>
<h3>Article has <%=@article.comments.count%> Comments</h3>

<ul>
<% @article.comments.each do |comment|
  comment_str = comment.body? ? comment.body.truncate(10) : 'Empty Comment'
 %>

  <li><%=link_to comment_str, comment_path(comment) %></li>
  <% if comment.user %>
  <li>Created by: <%=comment.user.email%></li>
  <% end %>

<% end %>
</ul>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
